#loadingAlertModal input[type="text"],
#loadingAlertModal input[type="number"] {

}

#heroBackgroundImageSection {
  background-image: url('asset/BGnew.gif'); 
}

#stickyMenuPlanner {
  background-color: white; 
}

.quantity-control .quantity-value {
  min-width: 20px; 
  text-align: center;
}

.menu-item-card.selected {
  border: 2px solid #2563eb; 
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.4);
}

input[readonly].bg-gray-50 {
    cursor: default;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #00aa13;
  color: white;
  text-align: center;
  padding-top: 20px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
